<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Conductor</servlet-name>
        <servlet-class>Conductor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clogin</servlet-name>
        <servlet-class>Clogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Creg</servlet-name>
        <servlet-class>Creg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cprof</servlet-name>
        <servlet-class>cprof</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cuprof</servlet-name>
        <servlet-class>cuprof</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upp</servlet-name>
        <servlet-class>upp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fop</servlet-name>
        <servlet-class>Fop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fp</servlet-name>
        <servlet-class>fp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vt</servlet-name>
        <servlet-class>vt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conductor</servlet-name>
        <url-pattern>/Conductor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clogin</servlet-name>
        <url-pattern>/Clogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Creg</servlet-name>
        <url-pattern>/Creg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cprof</servlet-name>
        <url-pattern>/cprof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cuprof</servlet-name>
        <url-pattern>/cuprof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upp</servlet-name>
        <url-pattern>/upp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fop</servlet-name>
        <url-pattern>/Fop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fp</servlet-name>
        <url-pattern>/fp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vt</servlet-name>
        <url-pattern>/vt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
